.example-spacer {
  flex: 1 1 auto;
}

#logout {
  cursor: pointer;
}

#navigation {
  background-color: #eac273;
  width: 100%;
}

#nav {
  width: 90%;
  margin: auto 0px;
  border-left: 0px;
  border-right: 0px;
  margin-bottom: 0px;
}

@media only screen and (max-width:3000px) {
  a.navbar-brand {
    font-size: 20px;
    font-weight: bold;
  }
  #nav {
    margin: auto;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 30px;
    border: 0px;
  }
  #navigation {
    margin-bottom: 10px;
  }
 
}

@media only screen and (max-width: 1024px) {
  #nav {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  a.navbar-brand {
    font-size: 12px;
    color: rgb(120, 106, 83);
  }
  #nav {
    font-size: 11px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  #navigation {
    height: 40px;
  }
}