<div class="row">
    <div class="col-xs-4 ">
     
    <h1 *ngIf="newForm">Add User</h1>
    <h1 *ngIf="editMode">Edit User</h1>
    </div>
    <div class="col-xs-12">
      <form #recipesForm="ngForm" [formGroup]="recipeEditForm" (ngSubmit)="onSubmit()">
       
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Recipe Name</label><span> * </span>
              <input formControlName="name" type="text" class="form-control" id="name" placeholder="Recipe Name" ngModel>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="name">Description</label><span> * </span>
                <input formControlName="description" type="text" class="form-control" id="description" placeholder="Recipe Desciption">
              </div>
            </div>
          </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="imagePath">Image URL</label>
              <input formControlName="imagePath" type="text" class="form-control" id="imagePath" placeholder="https://www.imagePath">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <img class="img-responsive" src="" alt="">
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="Ingredients">Ingredients</label> <span> * </span>
                <textarea formControlName="ingredients" class="form-control" rows="6" type="text" id="ingredients" placeholder="Recipe Ingredients "></textarea>
              </div>
            </div>
          </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="instructions">instructions</label> <span> * </span>
              <textarea formControlName="instructions" class="form-control" rows="6" type="text" id="instructions" placeholder="Recipe instructions "></textarea>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6 pull-right btn-position-save">
          <button [disabled]='!recipeEditForm.valid' type="submit" class="btn btn-primary">Save</button>
          <button (click)="onCancel()" type="button" class="btn btn-warning">Cancel</button>
        </div>
        
       