
.margin {
  margin-bottom: 8px;
}
.media-left {
  flex: 0 0 auto; /* Empêche l'image de s'étendre sur le texte */
  margin-right: 10px; /* Ajoute un espace à droite de l'image */
}

.media-body {
  display: block;
  align-items: center; /* Alignez verticalement le texte au centre */
  justify-content: center; /* Alignez horizontalement le contenu à droite */

} 

img.media-object {
  max-width: 100px; /* Ajustez la largeur de l'image selon vos préférences */
  margin-right: 10px; /* Ajoute un espace à droite de l'image */
  //padding-bottom: 0; /* Supprimez l'espace sous l'image */
}




@media only screen and (max-width: 1370px) {

   .media-left, .media-middle {
    display: block;
  }
    img.media-object {
    max-width: 100%;
    padding-bottom: 10px;
    margin-left: 6px;
  }

  .media-body {
    text-align: center;
  }
  .media-heading  {
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
  }
  .media-body h4{
    font-size: 9px;
    text-align: center;
  }
}

@media only screen and (max-width: 3000px) {
  #list .media {
    display: flex;
    align-items: center;
  }
  
  #list .media-left {
    flex: 0 0 auto; /* Empêche l'image de s'étendre sur le texte */
    margin-right: 10px; /* Ajoute un espace à droite de l'image */
  }
  
  
  #list .media-body {
    flex: 1; /* Le texte prendra toute la largeur restante */
    text-align: left; /* Alignez le texte à droite */
  }
  
  #list .media-object {
    max-width: 100px; /* Ajustez la largeur de l'image selon vos préférences */
  }
  
  .margin {
    margin-bottom: 8px;
  }
  .media-left {
    flex: 0 0 auto; /* Empêche l'image de s'étendre sur le texte */
    margin-right: 10px; /* Ajoute un espace à droite de l'image */
  }
  
  .media-body {
    display: block;
    align-items: center; /* Alignez verticalement le texte au centre */
    justify-content: center; /* Alignez horizontalement le contenu à droite */
  
  } 
  
  img.media-object {
    max-width: 100px; /* Ajustez la largeur de l'image selon vos préférences */
    margin-right: 10px; /* Ajoute un espace à droite de l'image */
    //padding-bottom: 0; /* Supprimez l'espace sous l'image */
  }
  
  
  #list {
    margin: 5px;
    border: 2px solid #ffe6e6;
    -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.13);
    box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.13);
  }
  

   .media-left, .media-middle {
    display: block;
  }
    img.media-object {
    max-width: 100%;
    padding-bottom: 10px;
    margin-left: 6px;
  }

  .media-body {
    text-align: center;
  }
  .media-heading  {
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
  }
  .media-body h4{
    font-size: 15px;
    text-align: left;
  }

}

@media only screen and (max-width: 740px) {
  .media-left, .media-middle {
    display: block;
  }

  img.media-object {
    max-width: 100%;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .media-left, .media-middle {
    display: block;
  }
  .media-heading {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
  }
  .media-body h4 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
  }
  img.media-object {
    max-width: 100%;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 350px) {
  .media-left, .media-middle {
    display: block;
  }
  img.media-object {
    max-width: 100%;
    padding-bottom: 10px;
  }
  .media-heading  {
    font-size: 9px;
    text-align: center;
    font-weight: bolder;
  }
  .media-body h4{
    font-size: 15px;
    text-align: center;
  }
}