<!--proprety binding []= " "
  event binding ()="x()"  -->
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div fxFlex="100%">

      <mat-form-field appearance="outline" class="form-field" >
        <mat-label>Recipe Name</mat-label>
        <input matInput formControlName="name" name="Recipe Name">
      </mat-form-field>
            </div>


            <div fxLayout="column" fxLayoutAlign="center center">
              <div fxFlex="100%">        
            <mat-form-field appearance="outline" class="form-field" >
              <mat-label>Recipe Description</mat-label>
              <input matInput formControlName="description" name="Recipe Description">
            </mat-form-field>
</div>  
            </div>

            <div fxLayout="column" fxLayoutAlign="center center">
              <div fxFlex="100%">        
<mat-form-field appearance="outline" class="form-field">
  <mat-label>Ingredients</mat-label>
  <textarea matInput formControlName="ingredients" name="Recipe Ingredients"></textarea>
</mat-form-field>
              </div>
            </div>

            <div fxLayout="column" fxLayoutAlign="center center">
              <div fxFlex="100%">        
<mat-form-field class="form-field" appearance="outline">
  <mat-label>Instructions / Steps</mat-label>
  <textarea matInput formControlName="instructions" name="Recipe Instructions"></textarea>
</mat-form-field>
              </div>
            </div>


<button mat-stroked-button 
color="primary"
 type="submit" [disabled]="!registerForm.valid">
 Add Recipe
 
</button>

</div>
  </form>

